# TeamTomo monorepo pre-commit configuration
# https://pre-commit.com/

# enable pre-commit.ci at https://pre-commit.ci/
# it adds:
# 1. auto fixing pull requests
# 2. auto updating the pre-commit configuration
ci:
  autoupdate_schedule: monthly
  autofix_commit_msg: "style(pre-commit.ci): auto fixes [...]"
  autoupdate_commit_msg: "ci(pre-commit.ci): autoupdate"

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.16
    hooks:
      - id: validate-pyproject
        # Run on all package pyproject.toml files
        files: "^(pyproject\\.toml|packages/.*/pyproject\\.toml)$"

  - repo: https://github.com/crate-ci/typos
    rev: v1.20.9
    hooks:
      - id: typos
        args: [--force-exclude]  # omitting --write-changes

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.4.1
    hooks:
      - id: ruff
        args: [--fix]  # may also add '--unsafe-fixes'
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        # Type check all packages
        files: "^(src/|packages/.*/src/).*\\.py$"
        # Add dependencies as needed for type checking
        # additional_dependencies:
        #   - torch
        #   - numpy